<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Comment {{ id }}</title>
    <style>
      table,
      th,
      td {
        border-collapse: collapse;
        border: 1px solid;
      }
    </style>
  </head>
  <body style="height:100%;">
    <table style="width: 100%; height: 100%;">
      <tr>
        <td style="text-align: center; vertical-align: middle;">
          <h1 id="CID">View Comment {{ id }}</h1>
          <h2 id="CompanyName">Company Name: {{ data[2] }}</h2>
          <p id="Salary">Salary Range: ${{ data[4] }}-${{ data[5] }}</p>
          <p id="Location">Location: {{ data[3] }}</p>
          <p id="Comment">Comment: <br> {{ data[6] }}</p>
          <button onclick="history.back()">Back</button>
        </td>
      </tr>
    </table>
  </body>
</html>